apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "todoevolve-frontend.fullname" . }}
  labels:
    {{- include "todoevolve-frontend.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "todoevolve-frontend.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
